.header {
  padding: 0 3rem;
  height: 100vh;
  background-image: url(/img/background.jpeg);
  background-size: cover;
}
.link:hover {
  cursor: pointer;
  background-color: #ffc107;
}
.header-content {
  text-align: center;
  margin-top: 5%;
}
.text {
  font-size: 100px;
}
.button {
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  cursor: pointer;
  background-color: #ffc107;
}
.section {
  text-align: center;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
  font-family: sans-serif;
}
.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
.section--header {
  margin-top: 80px;
  margin-left: 45%;
  background-color: #ffc107;
  height: 25px;
  width: 100px;
}
.text-experience {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  font-size: 140px;
  background-color: #ffc107;
}
.text-logo {
  font-size: 60px;
}
.line {
  border-left: 3px solid #ffc107;

  height: auto;
}
.text-portfolio {
  margin-top: 50px;
}
.Portfolio {
  height: 300px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}
.Portfolio-content {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 50px;
}

.Portfolio:hover {
  transform: scale(1.1);
}

.Portfolio:hover .Portfolio-content {
  opacity: 1;
}
.logo-bulb {
  font-size: 400px;
}

/* slider */
.slider {
  max-width: 80rem;
  height: 35rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 25%;
  z-index: 10;

  border: none;

  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #ffc107;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  /* background-color: #888; */
  border: 1px solid #ffc107;
  padding: 10px;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial__text {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

.testimonial__author {
  margin-left: 2rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 1rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
  margin-left: 170px;
}

.testimonial__name {
  font-size: 1.4rem;
  font-weight: 500;
  align-self: center;
  margin-right: 100px;
}

.testimonial__location {
  font-size: 1.5rem;
  margin-right: 100px;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}
@keyframes up-and-down {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    margin-top: 19%;
  }
}

/* for medium screen */
@media (max-width: 1000px) {
  .text {
    font-size: 80px;
  }
}
